:root{
    --text-color:#000000;
    --nav-hover:#2196F3;
    --contacts-link-color:#757575;
    --footer-color:#ffffff;
    --bg-color:#FFFFFF;
    --font-color:#212121;
    --hero-font-color:#FFFFFF;
    --command-position-font-color:#757575;
    --footer-bgcolor:#2F303A;
    --button-fontcolor:#FFFFFF;
    --works-type-color:#757575;
    --hero-bgcolor:#2F303A;
    --article-color:#757575;
    } 